{% extends 'base.html' %}
<div></div>
{% load static %} {% block content %}

<div class="row">
  <div class="col-md-4">
    <div class="card card-widget widget-user">
      <div class="widget-user-header bg-primary">
        <h3 class="widget-user-username">{{ lab.name }}</h3>
        <h5 class="widget-user-desc">{{ lab.dpi }}</h5>
      </div>
      <div class="widget-user-image">
        <img
          class="img-circle elevation-2"
          src="{% static '/dist/img/lab.webp' %}"
          alt="User Avatar"
        />
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header"></h5>
              <span class="description-text"></span>
            </div>
          </div>

          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header">{{ related_count }}</h5>
              <span class="description-text">Campos</span>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="description-block">
              <h5 class="description-header"></h5>
              <span class="description-text"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <form method="POST" action="{% url 'store_lab' lab.id %}" class="card">
      {% csrf_token %}
      <div class="card-body">
        <div class="form-group">
          <label>Nombre completo</label>
          <input
            type="text"
            class="form-control"
            placeholder="Ingresa el nombre del laboratorio"
            value="{{ lab.name }}"
            name="name"
          />
        </div>
        <div class="form-group">
          <label>Precio</label>
          <input
            type="number"
            class="form-control"
            placeholder="Ingresa el precio"
            value="{{ lab.price }}"
            name="price"
            step=".01"
          />
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'laboratories' %}" class="btn btn-danger">Cancelar</a>
      </div>
    </form>
  </div>
  <div class="col-md-4">
    <form class="card" method="POST" action="{% url 'store_by_edit_lab' lab.id %}">
      {% csrf_token %}
      <div class="card-header">Agregar un nuevo campo</div>
      <div class="card-body">
        <div class="form-group">
          <label>Nombre</label>
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del campo"
            name="name"
            required
          />
        </div>
        <div class="form-group">
          <label>Medida</label>
          <input
            type="text"
            class="form-control"
            placeholder="Tipo de medida"
            name="measurment"
            required
          />
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-plus mr-2"></i>Guardar
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">Campos</div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <td>#</td>
              <td>Nombre</td>
              <td>Medida</td>
            </tr>
          </thead>
          <tbody>
            {% for related_field in related_fields %}
            <tr>
              <td>
                <a
                  href="{% url 'remove_field' id=related_field.id %}"
                  class="btn-sm btn-danger mr-1"
                >
                  <i class="fa fa-trash"></i>
                </a>
                <a href="{% url 'update_field' id=related_field.id %}" class="btn-sm btn-primary">
                  <i class="fa fa-edit"></i>
                </a>
              </td>
              <td>{{ related_field.name }}</td>
              <td>{{ related_field.measurment }}</td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
