{% extends "base.html" %} {% block content %}
<div class="card mt-4">
  <div class="card-header">
    <h3 class="card-title">Laboratorios</h3>
    <div class="card-tools">
      <a href="{% url 'new_lab' %}" class="btn-sm btn-block btn-primary">
        <i class="fas fa-plus"></i>
        Nuevo laboratorio
      </a>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Campos</th>
        </tr>
      </thead>
      <tbody>
        {% for laboratory in entity %}
        <tr>
          <td>
            <a href="{% url 'delete_lab' id=laboratory.id %}" class="btn-sm btn-danger mr-1">
              <i class="fa fa-trash"></i>
            </a>
            <a href="{% url 'edit_lab' id=laboratory.id %}" class="btn-sm btn-primary">
              <i class="fa fa-edit"></i>
            </a>
          </td>
          <td>{{ laboratory.name }}</td>
          <td>Q.{{ laboratory.price }}</td>
          <td><a href="{% url 'fields_by_lab' laboratory.id %}">Ver campos</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="card-footer clearfix">{% include 'paginator.html' %}</div>
  <div class="card-footer clearfix"></div>
</div>
{% endblock %}
