{% extends 'base.html' %}
<div></div>
{% load static %} {% block content %}

<div class="row">
  <div class="col-md-4">
    <div class="card card-widget widget-user">
      <div class="widget-user-header bg-primary">
        <h3 class="widget-user-username">Agregar un nuevo laboratorio</h3>
      </div>
      <div class="widget-user-image">
        <img
          class="img-circle elevation-2"
          src="{% static '/dist/img/lab.webp' %}"
          alt="User Avatar"
        />
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header"></h5>
              <span class="description-text"></span>
            </div>
          </div>

          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header"></h5>
              <span class="description-text"></span>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="description-block">
              <h5 class="description-header"></h5>
              <span class="description-text"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <form method="POST" action="{% url 'store_lab' %}" class="card">
      {% csrf_token %}
      <div class="card-body">
        <div class="form-group">
          <label>Nombre del laboratorio</label>
          <input
            type="text"
            class="form-control"
            placeholder="Ingresa el nombre del laboratorio"
            name="name"
          />
        </div>
        <div class="form-group">
          <label>Precio</label>
          <input
            type="number"
            class="form-control"
            placeholder="Ingresa el precio"
            name="price"
            step=".01"
          />
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'laboratories' %}" class="btn btn-danger">Cancelar</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
