{% extends "base.html" %} {% block content %}
<div class="card mt-4">
  <div class="card-header">
    <h3 class="card-title">Pruebas completadas</h3>
  </div>

  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Número de órden</th>
          <th>Nombre del paciente</th>
          <th>Prueba realizada</th>
          <th>Precio</th>
          <th>Fecha de realización</th>
          <th>PDF</th>
        </tr>
      </thead>
      <tbody>
        {% for test in entity %}
        <tr>
          <td>{{ test.id }}</td>
          <td>{{ test.patient.name }}</td>
          <td>{{ test.lab.name }}</td>
          <td>Q.{{ test.lab.price|stringformat:'.2f' }}</td>
          <td>{{ test.created_at }}</td>
          <td>
            <a href="{% url 'send_pdf' test.id %}" target="_blank" class="btn-sm btn-primary">
              <i class="fas fa-file-pdf"></i>
            </a>
            <a
              class="ml-1 btn-sm btn-success whatsappButton"
              url="{% url 'send_pdf' test.id %}"
              phone="{{ test.patient.phone }}"
              testName="{{ test.lab.name }}"
            >
              <i class="fab fa-whatsapp"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="card-footer clearfix">{% include 'paginator.html' %}</div>
  <div class="card-footer clearfix"></div>
</div>

<script>
  const host = window.location.origin;

  const whatsappButtons = $('.whatsappButton');

  whatsappButtons.click((e) => {
    const btn = $(e.currentTarget);

    const pdfAttr = btn.attr('url');
    const patientPhone = btn.attr('phone');
    const testName = btn.attr('testName');

    const url = `wa.me/502${patientPhone}?text=Los resultados de tu ${testName} ya están disponibles en ${host}${pdfAttr}`;

    console.log(url);
  });
</script>
{% endblock %}
