{% extends "base.html" %} {% block content %}
<div class="card mt-4">
  <div class="card-header">
    <h3 class="card-title">Pruebas</h3>
  </div>

  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Número de órden</th>
          <th>Nombre del paciente</th>
          <th>Prueba realizada</th>
          <th>Precio</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        {% for test in entity %}
        <tr>
          <td>{{ test.id }}</td>
          <td>{{ test.patient.name }}</td>
          <td>{{ test.lab.name }}</td>
          <td>Q.{{ test.lab.price|stringformat:'.2f' }}</td>
          <td>{{ test.created_at }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="card-footer clearfix">{% include 'paginator.html' %}</div>
  <div class="card-footer clearfix"></div>
</div>
{% endblock %}
