{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col-md-4">
    <form class="card" method="POST">
      {% csrf_token %}
      <div class="card-header">Buscar</div>
      <div class="card-body">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="search"
            placeholder="Buscar"
            value="{{ search }}"
          />
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6">
            <input type="submit" class="btn-sm btn-primary" value="Buscar" />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card mt-4">
  <div class="card-header">
    <h3 class="card-title">Pacientes</h3>
    <div class="card-tools">
      <a href="{% url 'new_client' %}" class="btn-sm btn-primary btn-block">
        <i class="fas fa-plus"></i>
        Crear nuevo paciente
      </a>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre completo</th>
          <th>Fecha de nacimiento</th>
          <th>CUI</th>
          <th>NIT</th>
          <th>Exámenes</th>
        </tr>
      </thead>
      <tbody>
        {% for client in entity %}
        <tr>
          <td>
            <a href="{% url 'remove_client' id=client.id %}" class="btn-sm btn-danger mr-1">
              <i class="fa fa-trash"></i>
            </a>
            <a href="{% url 'edit_client' id=client.id %}" class="btn-sm btn-primary">
              <i class="fa fa-edit"></i>
            </a>
          </td>
          <td>{{ client.name }}</td>
          <td>{{ client.birth }}</td>
          <td>{{ client.dpi }}</td>
          <td>{{ client.nit }}</td>
          <td><a href="{% url 'patient_history' id=client.id %}">Ver historial</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="card-footer clearfix">{% include 'paginator.html' %}</div>
  <div class="card-footer clearfix"></div>
</div>
{% endblock %}
