{% extends "base.html" %} {% block content %}
<div class="card mt-4">
  <div class="card-header">
    <h3 class="card-title">Clientes</h3>
  </div>

  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre completo</th>
          <th>Fecha de nacimiento</th>
          <th>CUI</th>
          <th>Exámenes</th>
        </tr>
      </thead>
      <tbody>
        {% for client in entity %}
        <tr>
          <td>
            <a href="{% url 'remove_client' id=client.id %}" class="btn-sm btn-danger mr-1">
              <i class="fa fa-trash"></i>
            </a>
            <a href="{% url 'edit_client' id=client.id %}" class="btn-sm btn-primary">
              <i class="fa fa-edit"></i>
            </a>
          </td>
          <td>{{ client.name }}</td>
          <td>{{ client.birth }}</td>
          <td>{{ client.dpi }}</td>
          <td><a href="{% url 'client' id=client.id %}">Ver historial</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="card-footer clearfix">{% include 'paginator.html' %}</div>
  <div class="card-footer clearfix"></div>
</div>
{% endblock %}
